.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 0 16px;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
 }

.gallery-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.gallery-item:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.gallery-item a {
  display: block;
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.info {
    font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 48px;
  background: #fff;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
 }

.labels,
.stats {
  display: flex;
  justify-content: space-between;
}

.labels span,
.stats span {
  width: 75px;
  text-align: center;
}
.labels span {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
}

.stats span {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: "Montserrat", sans-serif;
}
.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;

  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin: 20px auto; /* центрування на сторінці */
  cursor: pointer;
  transition: background-color 250ms ease;
}

.load-more:hover {
  background-color: #6c8cff;
}

